.TituloContato{
    text-align: center;
}
.Tabela{
    text-align: center;
}
.Tabela-com-imagem {
    display: flex;
    align-items: center;
}

.Tabela-com-imagem table {
    flex: 1;
    margin-right: 20px; /* Adiciona espaço entre a tabela e a imagem */
}

.imagemContato img {
    max-width: 150px; /* Define a largura máxima da imagem */
}